<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>

  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    <div id="app" class="flex flex-col">
      {{- partial "header.html" . -}}

        <main id="main-content" class="container w-3/4 mx-auto px-4 py-24">

          <h1 class="col-span-2 text-3xl sm:text-4xl lg:text-3xl xl:text-4xl text-slate-900">{{.Title}}</h1>

          {{ .Content }}
          
          {{ with resources.Get .Params.styles }}
          {{ $cssStyle := . | resources.Minify | resources.Fingerprint }}
          <link rel="stylesheet" href="{{ $cssStyle.RelPermalink }}" integrity="{{ $cssStyle.Data.Integrity }}">
          {{ end }}

        {{ with resources.Get .Params.script }}
          {{ $script := . | resources.Minify | resources.Fingerprint }}
          <script type="module" src="{{ $script.RelPermalink }}"></script>
        {{ end }}

      </main>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
