<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>

  <body>
    <div id="app" class="flex flex-col">
      {{- partial "header.html" . -}}

        <div class="container w-3/4 mx-auto px-4 py-24">

          <h3 class="col-span-2 text-3xl sm:text-4xl lg:text-3xl xl:text-4xl text-slate-900 dark:text-slate-200">{{.Title}}</h3>

          {{ .Content }}
          
          {{ $cssStyle := resources.Get .Params.styles | resources.Minify | resources.Fingerprint }}
          <link rel="stylesheet" href="{{ $cssStyle.Permalink }}" integrity="{{ $cssStyle.Data.Integrity }}">
          {{ $script := resources.Get .Params.script | resources.Minify | resources.Fingerprint }}
          <script type="module" src="{{ $script.Permalink }}"></script>

      </div>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
