// Custom styles

.narrative 
    padding: 1rem

footer .logos 
    display: flex
    flex-wrap: wrap

footer .logos img
    width: 200px
    height: auto
    margin: 1rem 2rem 0 0
    box-shadow: none
    border: 0

footer .logos img.gmu-logo
    width: 80px
    margin-top: 0
