@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, sans-serif;
}

/* Typography */

h2 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1.5rem;
}

a {
  @apply text-indigo-600 hover:text-indigo-700 transition duration-300 ease-in-out;
}

/* Visualizations */

#visualization {
  @apply w-full h-screen;
}

#menu {
  padding: 10px;
  font-family: sans-serif;
}

audio {
  width: 100%;
}

.notation {
  border-bottom: 2px solid #1c578a;
  padding: 0 3px;
  cursor: pointer;
}

.footnote-ref {
  @apply font-bold text-rose-700;
}

.footnotes p {
    @apply text-sm;
}

.footnotes ol {
    @apply list-decimal text-sm border-t-4 border-indigo-500 pt-4;
}