<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>

  <body class="visualization">
    <div id="app" class="flex flex-col h-screen">
      {{- partial "header.html" . -}}
      <div class="flex flex-1 overflow-auto">
        <div class="bg-gray-200 w-2/5 overflow-y-scroll">
          <div class="narrative px-6 py-4">
            <h3 class="inline-block text-2xl sm:text-1xl font-bold text-slate-900 tracking-tight pb-4">{{.Title}}</h3>
              {{ .Content }}

              {{ $cssStyle := resources.Get .Params.styles | resources.Minify | resources.Fingerprint }}
              <link rel="stylesheet" href="{{ $cssStyle.Permalink }}" integrity="{{ $cssStyle.Data.Integrity }}">

              {{ $script := resources.Get .Params.script  }}
              <script type="module" src="{{ $script.Permalink }}"></script>
          </div>
        </div>
        <div class="w-full sm:w-3/5 md:w-3/5">
          <div id="menu" class="bg-gray-200">
            <input id="satellite-v9" type="radio" name="rtoggle" value="satellite">
            <label for="satellite-v9">satellite</label>
            <input id="light-v10" type="radio" name="rtoggle" value="light">
            <label for="light-v10">light</label>
            <input id="dark-v10" type="radio" name="rtoggle" value="dark">
            <label for="dark-v10">dark</label>
            <input id="streets-v11" type="radio" name="rtoggle" value="streets" checked="checked">
            <label for="streets-v11">streets</label>
            <button id="resetView" class="bg-indigo-600 text-white active:bg-indigo-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
              <i class="fa-solid fa-rectangle-xmark"></i> Reset View
            </button>
          </div>
          <div id="visualization" class="w-full h-screen"></div>
        </div>
      </div>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
