<footer class="p-2 bg-white rounded-lg shadow md:px-4 md:py-4">
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-4" />

    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">Mapping the University is generously funded in part by the <a href="https://4va.gmu.edu/grants/">4-VA Collaborative Research Grant</a> and developed by the <a href="https://rrchnm.org">Roy Rosenzweig Center for History and New Media</a> at George Mason University.</span>

    <div class="inline-flex">
        <img src="{{ .Site.BaseURL }}/img/rrchnm-logo.png" alt="RRCHNM" class="self-center m-4 h-12 w-auto" />
        <img src="{{ .Site.BaseURL }}/img/4va-logo.png" alt="4-VA Collaboration Grant" class="self-center m-4 h-12 w-auto" />
        <img src="{{ .Site.BaseURL }}/img/gmu-logo.png" alt="George Mason University" class="self-center m-4 h-12 w-auto" />
        <img src="{{ .Site.BaseURL }}/img/odu-logo.png" alt="Old Dominion University" class="self-center m-4 h-12 w-auto" />
    </div>
</footer>
</div>
