<header>
  <nav class="bg-indigo-600 flex justify-between px-10 items-center py-6">
    <div class="flex items-center space-x-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="img"
        width="2em"
        height="1.5em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 472 384"
      >
        <path
          fill="white"
          d="m85 217l150 82l149-82v86l-149 81l-150-81v-86zM235 0l234 128v171h-42V151L235 256L0 128z"
        />
      </svg>
      <h1 class="font-bold text-xl cursor-pointer">
        <a class="text-white hover:text-slate-300" href="/">Mapping the University</a>
      </h1>
    </div>
    <div class="flex items-center space-x-8 font-bold">
      <a href="/visualizations" class="cursor-pointer text-lg text-white hover:text-slate-300">Maps</a>
      <a href="/data" class="cursor-pointer text-lg text-white hover:text-slate-300">Data</a>
      <a href="/blog" class="cursor-pointer text-lg text-white hover:text-slate-300">Blog</a>
      <a href="/about" class="cursor-pointer text-lg text-white hover:text-slate-300">About</a>
    </div>
  </nav>
</header>
