<header>
  <nav class="bg-indigo-600 flex justify-between px-10 items-center py-6">
    <div class="flex items-center space-x-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="img"
        width="2em"
        height="1.5em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 472 384"
      >
        <path
          fill="white"
          d="m85 217l150 82l149-82v86l-149 81l-150-81v-86zM235 0l234 128v171h-42V151L235 256L0 128z"
        />
      </svg>
      <h1 class="text-white font-bold text-xl cursor-pointer">
        Mapping the University
      </h1>
    </div>
    <div class="flex items-center space-x-8 font-bold text-white">
      <span class="cursor-pointer text-lg">Maps</span>
      <span class="cursor-pointer text-lg">Data</span>
      <span class="cursor-pointer text-lg">Blog</span>
      <span class="cursor-pointer text-lg">About</span>
    </div>
  </nav>
</header>
