{{- $title := .Title | default .Site.Title -}}
{{- $description := or .Params.abstract .Description .Site.Params.description -}}
{{- $image := "" -}}
{{- if and .Params.image (ne .Params.image "") -}}
  {{- $image = printf "%s%s" .Site.BaseURL .Params.image -}}
{{- else if .Params.thumbnail -}}
  {{- if eq .Type "maps" -}}
    {{- $image = printf "%s%s" .Permalink .Params.thumbnail -}}
  {{- else -}}
    {{- $image = printf "%simg/viz/%s" .Site.BaseURL .Params.thumbnail -}}
  {{- end -}}
{{- end -}}

<!-- Open Graph -->
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
{{- with $image }}
<meta property="og:image" content="{{ . }}" />
{{- end }}

<!-- Twitter card -->
<meta name="twitter:card" content="{{ if $image }}summary_large_image{{ else }}summary{{ end }}" />
<meta name="twitter:site" content="@chnm" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
{{- with $image }}
<meta name="twitter:image" content="{{ . }}" />
{{- end }}