{{ define "main" }}
<div class="py-32" id="cover-home">
  <div class="container w-2/3 mx-5 px-6 bg-slate-100 pt-7 pb-7">
    <h2 class="text-4xl font-bold mb-2 text-gray-800">
      Mapping the University
    </h2>
    <h3 class="text-2xl mb-8 text-gray-600">
        <p>Mapping the University is a collaborative archival research project and digital public history project that examines the planning, construction, and expansion of two public university campuses in Virginia: George Mason University and Old Dominion University. With an emphasis on training students in archival methods and digital skills, the project is a collaboration between undergraduate and graduate students, archivists, historians, geographers, and digital scholars across two institutions. During the 2021-2022 academic year, our team conducted archival research visits to five different archives and reviewed over 2,000 documents and photographs. By putting the archival material into conversation with aerial imagery, interactive maps, and other digital tools, we created the narrative interpretation for this site.</p>
      <p>In many ways, the campus histories of GMU and ODU lend themselves well to comparison. Both are public, twentieth-century, Virginia institutions that began as extension colleges of larger universities (University of Virginia and the College of William and Mary, respectively). ODU was founded first, in 1930, as the Norfolk Division of the College of William and Mary, while GMU was founded in 1949 as the Northern Virginia University Center of the University of Virginia and moved to the Fairfax, Virginia campus in 1964. Both ODU’s urban campus in Norfolk and GMU’s suburban campus in Fairfax experienced most of their campus growth and development in the second half of the twentieth century. By focusing on the campus histories of these two institutions, we explore how the planning of buildings for public higher education reflected social and political changes and shifting institutional priorities in the postwar decades.</p>
    </h3>
  </div>
</div>

<section class="container mx-auto px-6 p-10">
    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full md:w-1/2">
        <h4 class="text-3xl text-gray-800 font-bold mb-3"><a href="{{ .Site.BaseURL }}/narratives/">Narratives</a></h4>
        <p class="text-gray-600 mb-8">Ethical YOLO dreamcatcher forage, yuccie lo-fi gentrify cloud bread. Chillwave XOXO green juice, ugh snackwave plaid dreamcatcher letterpress mlkshk readymade heirloom. Typewriter food truck DSA knausgaard, chillwave stumptown pork belly af pabst hoodie farm-to-table. Tonx distillery ennui cold-pressed, truffaut organic craft beer.</p>
      </div>
      <div class="w-full md:w-1/2">
        <img src="{{ .Site.BaseURL }}/narratives/slave-sales/Broadsidephoto-Nov-1973-7.png" alt="Narratives" />
      </div>
    </div>

    <div class="flex items-center flex-wrap mb-20">
      <div class="w-full md:w-1/2">
        <img src="{{ .Site.BaseURL }}/img/home/maps-preview.png" alt="Maps" />
      </div>
      <div class="w-full md:w-1/2 pl-10">
        <h4 class="text-3xl text-gray-800 font-bold mb-3"><a href="{{ .Site.BaseURL }}/maps/">Maps</a></h4>
        <p class="text-gray-600 mb-8">Gastropub DSA mixtape, offal hexagon meggings fanny pack actually vaporware kitsch. Keytar lo-fi fingerstache, banjo kitsch blue bottle green juice austin jean shorts tumblr truffaut small batch gluten-free. Selfies raclette food truck tousled literally portland. Etsy fanny pack distillery, blue bottle franzen pop-up wolf quinoa fashion axe. Craft beer actually typewriter, cold-pressed shabby chic helvetica af banh mi normcore.</p>
      </div>
    </div>
  </section>
{{ end }}
