<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}

  <body>
    {{- partial "header.html" . -}}
    <main class="container mx-auto px-4 py-24">

      <h2>{{ .Page.Title }}</h2>

      {{ .Content }}

      <div class="h-full flex flex-col gap-5 items-left bg-white">
        {{ range .Pages.ByParam "author" }}
        <!-- Card 1 -->
        <card class="w-[40rem] py-7 px-5">
          <div class="grid grid-cols-6 gap-3">
            <!-- thumbnail -->
            <div class="col-span-2 pt-8">
              <img
                src="{{ .Permalink }}/{{.Params.thumbnail}}"
                title="{{.Params.thumbdesc}}"
              />
            </div>

            <!-- description -->
            <div class="col-span-4">
              <h2 class="text-gray-700 font-bold">
                <a href="{{.Permalink}}">{{.Title}}</a>
              </h2>
              <p class="text-gray-500 uppercase text-sm">by {{.Params.author}}</p>
              <p class="text-gray-500 mt-4">{{.Params.abstract}}</p>

            {{ if isset .Params "place" }}
              {{ if(eq .Params.place "George Mason University") }}
              <p class="text-xs font-sans font-semibold inline-block py-1 px-2 uppercase rounded mason-green bg-green-100 uppercase last:mr-0 mr-1">{{ .Params.place }}</p>
              {{ else }}
              <p class="text-xs font-sans font-semibold inline-block py-1 px-2 uppercase rounded odu-blue bg-blue-100 uppercase last:mr-0 mr-1">{{ .Params.place }}</p>
              {{ end }}
            {{ end}}
            </div>
          </div>
        </card>
        <hr />
        {{end}}
      </div>
    </main>
    {{- partial "footer.html" . -}}
  </body>
</html>
